@charset "utf-8";
/* CSS Document */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#07A0F5;
	width: 100%;
    text-align: center;
}

li {
    float:left;
	position:relative;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #CBDF04;
}

.active {
    background-color: #4CAF50;
}

logo-img{display:inline-block;
	float: left;
    margin: 0px 15px 15px 0px;
}


#footer{
		background-color:#07A0F5;	
		position: relative;
		clear:both;
		height:6em;
														
	}
	
	#contact{
		float: right;
		padding-right:20px;
	}
	
	#copyright{
		float:left;
		padding-left:10px;
	}
	
	#header{text-align:center;
	color:#CBDF04;
	}
	
	#body-img{float:right;
	}

	#about-image{float:right;
	}
	
	#contact-img{float:right;
	}
